<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="text-center">
      <h1> About Us </h1>
      <div class="row">
        <div class="col md-4">
          <p><img src="/static/dolly.png"/ width="200"></p>
          <h5>Dolly Agarwal</h5>
          <p>Passionate about EdTech, she is keen to apply the Automated Speech Recognition (ASR) technology in the education field.</p>
        </div>
        <div class="col md-4">
          <p><img src="/static/eugene.png"/ width="200"></p>
          <h5>Eugene Tan Yew Chin</h5>
          <p>Having travelled to 12 countries, he is looking forward to the day he could pass off as a Korean when travelling to South Korea.</p>
        </div>
        <div class="col md-4">
          <p><img src="/static/ronald.png"/ width="200"></p>
          <h5>Ronald Santoso</h5>
          <p>As a fellow Korean language learner, he is keen to spread the joy of learning Korean to more people.</p>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>