<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="text-center">
	    <h1> CS4347 Korean </h1>

	    <h2>Introduction</h2>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
	        <p>
            The Korean Wave has successfully attracted many to the Korean culture, and this can be seen in the rise of number of Korean as a Second Language (L2) learners around the world. Our university is no exception, evident from the steadily increasing enrollment for Korean modules in National University of Singapore (NUS). 
          </p>
          <p>While providing individual corrective feedback on pronunciation is crucial for language learning, this process is particularly time-consuming for teachers due to the sheer number of students enrolled in the class. Additionally, if multiple examiners are involved in the assessment of students’ pronunciation, it is hard to avoid individual differences (subjectivity) between examiners, leading to more time required for standardisation.
          </p>
          <p>
            Therefore, in this project, we would like to propose a Computer-Assisted Pronunciation Training (CAPT) system for Korean L2 learners in NUS. The system aims to not only help ease the workload of Korean language teachers in NUS, but to also provide students with individualised feedback on their pronunciation based on various relevant features for pronunciation assessment such as Goodness of Pronunciation (GOP).
          </p>
        </div>
        <div class="col-1"></div>
      </div>
	</div>

    {% endblock %}
  </body>
</html>