<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Record</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="text-center">
      <h1> Recording Interface </h1>
      <p>Read the passage below and get evaluation results from the server!</p>
	    
      <div class="d-flex justify-content-center">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h5 class="card-title">내 가족</h5>
            <p class="card-text" id="canonical">제 가족은 모두 여덟 명이에요. 부모님, 누나, 형, 남동생 두 명, 여동생 한 명이 있어요.</p>
            <button id="sample1" type="button" class="btn btn-outline-warning active">Sample 1</button>
            &nbsp;
            <button id="sample2" type="button" class="btn btn-outline-warning">Sample 2</button>
            &nbsp;
            <button id="sample3" type="button" class="btn btn-outline-warning">Sample 3</button>
          </div>
        </div>
      </div>

      <div class="mt-3 d-flex justify-content-center">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <div id="recordingContainer" class="mb-3"></div>

            <button id="recordButton" type="button" class="btn btn-primary">
              <i class="fa fa-microphone" aria-hidden="true"></i> Record
            </button>
            &nbsp;
            <button disabled id="stopButton" type="button" class="btn btn-danger">
              <i class="fa fa-stop" aria-hidden="true"></i> Stop
            </button>
            &nbsp;
            <button disabled id="uploadButton" type="button" class="btn btn-success">
              <i class="fa fa-upload" aria-hidden="true"></i> Upload
            </button>
          </div>
        </div>
      </div>

      <div class="mt-3 d-flex justify-content-center">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h5 class="card-title">Kaldi Results</h5>
            <p class="card-text">
              <span id="instruction">Your result will appear here when you upload your recording!</span>
              <div class="row">
                <b>Segmental Accuracy</b>
                <div class="col">
                  <p>
                    <em>Word-level</em><br/>
                    <span id="transcription"></span><br/>
                    <span id="user-transcription"></span><br/>
                  </p>
                </div>
                <div class="col">
                  <p>
                    <em>Phoneme-level</em><br/>
                    <span id="transcription-phoneme"></span><br/>
                    <span id="user-transcription-phoneme"></span><br/>
                  </p>
                </div>
              </div>
              <div class="row">
                <b>Fluency</b>
                <div class="col">
                  <p>
                    <em>Word-level</em><br/>
                    <span id="wpm"></span><br/>
                    <span id="wcpm"></span><br/>
                  </p>
                </div>
                <div class="col">
                  <p>
                    <em>Phoneme-level</em><br/>
                    <span id="ros"></span><br/>
                    <span id="ar"></span><br/>
                    <span id="ptr"></span><br/>
                  </p>
                </div>
              </div>
      	      
      	      <span id="ppm"></span><br/>
      	      <span id="pcpm"></span>
            </p>
          </div>
        </div>
      </div>

      <div class="mt-3 d-flex justify-content-center">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h5 class="card-title">Google Speech-to-Text Results</h5>
              <p class="card-text">
                <span id="instruction2">Your result will appear here when you upload your recording!</span><br/>
        		    <span id="google-transcription"></span><br/>
                <span id="google-user-transcription"></span><br/>
              </p>
          </div>
        </div>
      </div>
    </div>

    <!-- inserting these scripts at the end to be able to use all the elements in the DOM --> 
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{{ url_for('static', filename='record.js') }}"></script>
    {% endblock %}
  </body>
</html>
